<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">

    <title>Profile</title>

</head>


<body> 

    <br>

    <div class="container">
   
     
            <div class="cover-photo">
                <img src="data:image/<%= user.icon.type %>;base64,<%= user.icon.base64 %>" class="profile">
              </div>

              <div class="profile-name">  <%= user.username %></div>

                <div>
                    <label>Email :
                        <%= user.email %>
                    </label>
                </div>

                <div>
                    <label>Role :
                        <%= user.role %>
                    </label>
                </div>
                
                <div>
                    <button class="msg-btn" type="submit" onclick="location.href='/home'">edit user Profile</button>

                    <button class="follow-btn" type="submit" onclick="location.href='/logout'">Logout</button>

                    <form action="/profile" method="post" id="edit_profile_form"></form>
                </div>
            </div>
        </div>
    </div>
</body>


   
 


</html>